/* Color scheme: https://colorhunt.co/palette/161a3031304db6bbc4f0ece5 */
* {
    margin: 0;
    padding: 0;
    font-family: helvetica, arial, sans-serif;
}
.body-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 120vh;
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("../img/background.png");
}
body {
    margin: 0;
    padding: 0;
    background-size: cover;
}
.general {
    background-image: url("../img/background.png");
    flex-direction:column;
    background-color:#FFF5;
    backdrop-filter:blur(7px);
    box-shadow:0 .4rem .8rem #0005;
    border:60px solid #FFF5;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
#email{
    border:black thin solid;
    border-top-right-radius:25px;
    border-bottom-left-radius:25px;
    width: 325px;
    height: 35px;
    flex-wrap: wrap;
}
#password{
    border:black thin solid;
    border-top-right-radius:25px;
    border-bottom-left-radius:25px;
    width: 325px;
    height: 35px;
    margin-left: 40px;
    flex-wrap: wrap;
}
 button add_tag{
    margin-top: 50px;
}
button {
    width: auto;
    height: 40px;
    border: none;
    background-color: rgba(49, 48, 77, 0.4);
    color: white;
    border-radius: 10px;
    transition-duration: 0.4s;
    padding: 10px;
}
button:hover {
    background-color:#BC61F5;
    color:#D7A1F9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border:transparent;
    padding: 5px;
}
.container{
    backdrop-filter: blur;
}

.search-container {
    float: left;
    display: flex;
    flex-direction: column;
    margin-left: 35px;
}
.search-bar{
    margin-right: 990px;
    float: left;
}
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 10px;
}
#search-button{
    border:transparent;
    border-radius:25px;
    float: left;
    width: 90px;
    height: 40px;
    transition-duration: 0.4s;
}
#search-field{
    border:transparent;
    border-radius:25px;
    margin-top: 30px;
}
span {
    width: 100%;
    color: rgba(255, 0, 0, 0.65);
}
#tag-manager-form{
    display: flex;
    align-items: flex-start;
    width:100%;
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    border-radius:25px;
margin-right: 800px;
}
#tag-input{
    border-radius:25px;
    width: 190px;
    height: 25px;
    border:transparent;
    margin-bottom: 250px;
       background-size: fixed;
       margin-top: 50px;
       margin-left: 20px;
}
.tag-input{
    border-radius:25px;
    margin-right: 50px;
    display: flex;
}
/** CODE TO SHOW TABLE */
.home-elements{
    border-collapse: collapse;
    border-radius: 25px;
    margin-top: 3%;
}
.home-elements ul {
    list-style-type: none;
    padding: 0;
    display: table;
    background-color:#FFF5;
    backdrop-filter:blur(7px);
    box-shadow:0 .4rem .8rem #0005;
    width: 100%;
    table-layout: fixed;
}
.home-elements li {
    display: table-cell;
    padding: 8px;
    width: 25%;
    box-sizing: border-box;
}

.home-elements li:first-child {
    font-weight: bold;
    top:50px;
    left:50px;
    border-top-right-radius:25px;
    border-bottom-right-radius:25px;
    background-color: #0000000b;
    background-color: rgba(146, 77 , 191, 0.2);
}

.home-elements ul ul {
    border-top: 1px solid #ddd;
}

.home-elements a {
    text-decoration: none;
    color: #3A3985;
    cursor: pointer;
}

/** MODAL */
.modal {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    width: 450px;
    padding: 1.3rem;
    min-height: 250px;
    position: absolute;
    z-index: 2;
    top: 20%;
    background-color: #DFC5FE;
    border: 1px solid #ddd;
    border-radius: 15px;

}
.modal .flex {
    display: flex;
    align-items: flex-start;
    justify-content: right;

    box-shadow:0 .4rem .8rem #0005;
}

.btn {
    display: inline-block;
    padding: 0.8rem 1.4rem;
    font-weight: 700;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
    background-color: #FFC7BA;
}


.btn-close {
    transform: translate(10px, -10px);
    padding: 0.5rem 0.7rem;
    cursor: pointer;
    background-color: #924DBF;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.hidden {
    display: none;
}

/** TOAST ALERT */
#alert-container {
    z-index: 1;

    .alert-msg {
        background: #fff;
        border: 1px solid #ddd;
        bottom: 25px;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
        left: 25px;
        padding: 15px;
        position: absolute;
        z-index: 99;
        border-radius: 10px;

        &:before {
            content: "";
            background: url("../img/alert.png") no-repeat;
            width: 25px;
            height: 25px;
            display: inline-block;
            margin-right: 10px;
            vertical-align: middle;
        }
    }
}

.slide-in {
    animation-name: slideIn;
    animation-duration: 0.8s;
}

@keyframes slideIn {
    from {
        transform: translateX(-400px);
    }

    to {
        transform: translateX(0);
    }
}

.slide-out {
    animation-name: slideOut;
    animation-duration: 25s;
}

@keyframes slideOut {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(80px);
        opacity: 0;
    }
}

/* TODO: fix this, to make the form and the whole page responsible */
@media (max-width: 600px) {
    .container {
        padding: 0 10px;
    }
}
