/* Color scheme: https://colorhunt.co/palette/161a3031304db6bbc4f0ece5 */
* {
    margin: 0;
    padding: 0;
    font-family: helvetica, arial, sans-serif;
}

.body-login {
    background-image: url("../img/pic4.jpg");
}

body {
    margin: 0;
    padding: 0;
    background-size: cover;
}

.general {
    display: flex;
    flex-direction:column;
}

.search-bar{
    margin-right:200px;
}

.container {
    max-width: 990px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 15px;
}

.search-container {
    max-width: 990px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
}

.form-container {
    text-align: center;
    width: 100%;
    max-width: 400px;
    padding: 50% 10%;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 5px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.label-search {
    display: block;
    margin-bottom: 5px;
    color: #607274;
}

label {
    display: block;
    margin-bottom: 5px;
    color:white;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border-radius: 10px;
}

button {
    width: auto;
    height: 40px;
    border: none;
    border-radius: 10px;
    transition-duration: 0.4s;
    padding: 10px;
}

button:hover {
    background-color: #779AE4;
    color: #48484BFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

span {
    width: 100%;
    color: rgba(255, 0, 0, 0.65);
}

/** CODE TO SHOW TABLE */
.home-elements ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: table;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.home-elements li {
    display: table-cell;
    padding: 8px;
    border: 1px solid #ddd;
    width: 25%;
    box-sizing: border-box;
}

.home-elements li:first-child {
    font-weight: bold;
}

.home-elements ul ul {
    border-top: 1px solid #ddd;
}

.home-elements a {
    text-decoration: none;
    color: blue;
    cursor: pointer;
}

/** MODAL */
.modal {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    width: 450px;
    padding: 1.3rem;
    min-height: 250px;
    position: absolute;
    z-index: 2;
    top: 20%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.modal .flex {
    display: flex;
    align-items: flex-start;
    justify-content: right;
}

.btn {
    display: inline-block;
    padding: 0.8rem 1.4rem;
    font-weight: 700;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
}

.btn-close {
    transform: translate(10px, -10px);
    padding: 0.5rem 0.7rem;
    background: #fff;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.hidden {
    display: none;
}

/** TOAST ALERT */
#alert-container {
    z-index: 1;

    .alert-msg {
        background: #fff;
        border: 1px solid #ddd;
        bottom: 25px;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
        left: 25px;
        padding: 15px;
        position: absolute;
        z-index: 99;
        border-radius: 10px;

        &:before {
            content: "";
            background: url("../img/alert.png") no-repeat;
            width: 25px;
            height: 25px;
            display: inline-block;
            margin-right: 10px;
            vertical-align: middle;
        }
    }
}

.slide-in {
    animation-name: slideIn;
    animation-duration: 0.8s;
}

@keyframes slideIn {
    from {
        transform: translateX(-400px);
    }

    to {
        transform: translateX(0);
    }
}

.slide-out {
    animation-name: slideOut;
    animation-duration: 25s;
}

@keyframes slideOut {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(80px);
        opacity: 0;
    }
}

/* TODO: fix this, to make the form and the whole page responsible */
@media (max-width: 600px) {
    .container {
        padding: 0 10px;
    }
}